SUPABASE_URL=your-project-url
SUPABASE_KEY=your-key

GEMINI_API_KEY=your_key_here

API_KEY=your_auth_key_here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_key
LANGCHAIN_PROJECT=your_project_name